img{
    width:250px;

}
.container{
    margin-top: 60px;
}

ul{
    margin-right: 50px;
    border-color: black;
}
@media (min-width: 1200px) {
    .container{
        max-width: 3000px;
    }
}
#caption{
    margin-top: 15px;
    font-size: 13px;
    color: dimgrey;
}
#news{
    font-size:large;
}
svg{
    width:30px;
    margin-top: -20px;
   
}
ul > li {
    margin-left: 50px;
}

#email{
    font-size: 15px;
    color:slategrey;
}
